<div class="card" *ngIf="user">

  <div class="card__section">
    <img src="{{ user.avatar }}" alt="Photo de profil" class="card__avatar">
    <p class="card__birthday">{{ user.date_of_birth | date:'dd/MM/y'}}</p>
  </div>

  <div class="card__section">
    <ul class="card__list">
      <li class="card__item">Nom: <span class="card__detail">{{ user.last_name }}</span></li>
      <li class="card__item">Prénom: <span class="card__detail">{{ user.first_name }}</span></li>
      <li class="card__item">Age: <span class="card__detail"></span></li>
      <li class="card__item">Adresse: <span class="card__detail"> {{ user.address.street_address }} <br>{{ user.address.zip_code}}, {{ user.address.city }}</span></li>
    </ul>
  </div>

</div>
