.card{
  display: flex;
  justify-content: center;
  gap: 2rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1rem solid dodgerblue;
  border-radius: 1rem;
  box-shadow: .6rem 1rem .4rem lighten(black, 70%);

  padding: 1rem;

  &__avatar{
    width: 6rem;
    border: 1px solid black;
  }

  &__birthday{
    text-align: center;
    font-style: italic;
    font-size: .9rem;
    color: lighten(black, 60%);
  }

  &__item{
    font-weight: bold;
  }

  &__detail{
    font-weight: normal;
  }
}

li:not(li:first-child){
    margin-top: 1rem;
}
